@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background-light: #f9fafb;
  --color-background-dark: #121826;
  --spacing-18: 4.5rem;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

body {
  font-family: var(--font-inter), Helvetica, sans-serif;
}
